.sidebar{
    width: 20%;
    background-color: #676af5;
    border: 2px solid violet;
    padding: 20px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #676af5;
    color: #fff;
    border: 1px solid pink;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover{
    background-color: #9496f0;
}

.sidebar button:active{
    background-color: #6466d5;
}